body {
  line-height: 1.5;
  color: #212121;
  font-family: sans-serif;
  margin: 0 auto;
  width: 500px;
    background-color: gray;
}

p {
  margin: 0;
}

.posts {
  margin: 0;
  list-style: none;
  margin-bottom: 16px;
  border: blue;


}

.posts li:not(:last-child) {
  margin-bottom: 16px;
}

.posts > li {
  background-color: hotpink;
  padding: 10px;
  border-radius: 20px;
}

.post-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 700;
}

.post-title:first-letter {
  text-transform: uppercase;
}

.post-body {
  margin: 0;
}


